:root {
    /* Huisstijl kleuren */ 
    --main-bg-color: #FFFFFF; 
    --secondary-bg-color: #F6F6F4; 
    --secondary-bg-color: #3C3B34;
    --primary-text-color: #3C3B34; 
    --subtitle-text-color : #9B9A92; 
    --accent-color: #FF6B6B;

    --primary-spacing: 1em; 
    --secondary-spacing: 2em;

    /* Font */ 
    --light-text : 'Aktiv-Lt', sans serif; 
    --medium-text: 'Aktiv-Rg', sans serif;
    --medium-text: 'Aktiv-Md', sans serif;
    --bold-text: 'Aktiv-Bd', sans serif;

}
/* Load in Fonts */ 
@font-face {
    font-family: 'Aktiv-Lt';
    src: url(../assets/Font/AktivGrotesk_Lt.ttf);
}
@font-face {
    font-family: 'Aktiv-Rg';
    src: url(../assets/Font/AktivGrotesk_Rg.ttf);
}
@font-face {
    font-family: 'Aktiv-Md';
    src: url(../assets/Font/AktivGrotesk_Md.ttf);
}
@font-face {
    font-family: 'Aktiv-Bd';
    src: url(../assets/Font/AktivGrotesk_Bd.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

a{
    color: var(--primary-text-color);
    text-decoration: none;
}

.schedule-bt:hover {
    background-color: #d14848;
    transition: 1.25s;
}

.discover-bt:hover {
    color: var(--primary-text-color);
    transition: 1.25s;
}

/* #region Mobile and small screen styling  */
    
    /* Header styling */

    header {
        display: flex;
        justify-content: space-between;
        margin: 1.5em;
    }

    .logo {
        height: 1.5em;
    }

    .contact-bt{
        font-family: var(--medium-text);
        position: absolute;
        right: 0;
        margin-right: 6em;
        outline-style: solid;
        outline-offset: 0.2em;
    }

    /* Main section styling */

    main {
        margin: 0em var(--primary-spacing) 3em var(--secondary-spacing);
    }
    
    h1 {
        font-family: var(--light-text);
        color: var(--subtitle-text-color);
        font-size: 1.25em;
        margin-top: 4em;
    }
    h2 {
        font-family: var(--bold-text);
        font-size: 2.5em;
        margin-top: 0.75em;
    }
    .abstract {
        font-family: var(--light-text);
        font-size: 1.25em;
        margin-top: var(--primary-spacing);
        margin-bottom: 0.5em;
    }
    .schedule-bt {
        font-family: var(--medium-text);
        background-color: var(--accent-color);
        color: #FFFFFF;
        padding: 0.75em;
        width: fit-content;
        border-radius: 0.25em;
        margin-top: var(--primary-spacing);
        margin-bottom: var(--primary-spacing);
    }
    .discover-bt {
        font-family: var(--medium-text);
        color: var(--accent-color);
        margin: 0.5em;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }


    /* Dictionary Section Styling */
    .dictionary {
        background-color: var(--primary-text-color);
        padding: var(--secondary-spacing);
    }
    .quote {
        font-family: var(--bold-text);
        color: #FFFFFF;
        font-size: 2em;
        margin: 1.5em 0em 0.5em 0em;
    }    
    strong {
        color: #9B9A92;
    }
    .ai-paragraph {
        font-family: var(--light-text);
        font-size: 1.25em;
        color: #FFFFFF;
        margin-bottom: var(--secondary-spacing);
    }
    

    /* Steps section styling */
    .steps {
        padding: var(--secondary-spacing);
    }

    h4{
        font-family: var(--bold-text);
        font-size: 2em;
        margin: var(--primary-spacing) 0em var(--primary-spacing) 0em;
    }
    .card1 {
        margin: var(--secondary-spacing);
        border-radius: 0.5em;

        outline-style: solid;
        outline-color: #DADAD5;
    }
    .card-img {
        height: 13em;
        background-color: #EEEEEE;
        border-radius: 1em;
    }
    h5 {
        font-family: var(--bold-text);
        font-size: 1.5em;
    }
    .subtitle {
        font-family: var(--medium-text);
        font-size: 1.2em;
        color: var(--subtitle-text-color);
        margin: var(--primary-spacing);
    }
    .card-text {
        font-family: var(--light-text);
        margin: var(--primary-spacing);
    }

    /* Cases section styling */

    .cases {
        display: grid;
        background-color: var(--primary-text-color);
    }

/* #endregion Mobile styling  */

/* gets ugly after this soooquery */ 

/* #region 528px Breakpoint styling */
    @media (min-width: 33em) {

        :root {
            --tertiary-spacing: 3em
        }

        /* Header styling */

        .logo {
            height: 2.5em;
        }

        /* Header styling end */ 

        /* Main styling start */
        
        h1 {
            font-size: 1.3em;
        }

        main {
            margin: var(--tertiary-spacing);
        }

        /* Main styling end */ 
    }
/* #endregion */

/* #region 800px Breakpoint styling */
    @media (min-width: 50em) {
        
        /* Header styling */

        .logo {
            height: 2.5em;
        }

        .contact-bt {
            margin-top: 0.5em;
            padding: 0.5em;
        }

        /* Header styling end */ 

        /* Main styling */ 

        main{
            margin: 5em;
        }

        .oneliner {
            margin-right: 3.5em;
        }

        .container {
            display: flex;
            flex-direction: row;
        }
        .abstract {
            margin-top: var(--secondary-spacing);
        }

        .left{ 
            width: 60%;
        }
        .right{
            width: 40%;
            margin-left: var(--secondary-spacing);
            margin-top: var(--secondary-spacing);
        }

        /* Dictionary styling start */

        .quote {
            margin-left: 1.25em;
        }
        .ai-paragraph {
            margin-left: var(--secondary-spacing);
            padding-right: 10em;
        }
    }
/* #endregion */

    
/* #region 1096px Breakpoint styling */ 
    @media (min-width: 68.5em) {

        :root {
            --small-spacing : 0.5em;
        }

        /* Header */


        .burger-menu {
            padding: var(--primary-spacing);
            margin-top: 0.3em;
        }

        /* Main */

        main {
            margin-bottom: 5em;
        }

        .abstract {
            margin-bottom: 7.5em;
            padding-right: 3em;
        }

        /* Dictionary styling */

    }
/* #endregion */


/* #region 1200 Breakpoint styling */ 
    @media (min-width: 75em) {
        
        /* Main */ 

        .oneliner {
            font-size: 3.5em;
            padding-right: 4em;
        }

        .abstract {
            font-size: 1.5em;
            margin-bottom: var(--secondary-spacing);
        }

        .right{
            margin-top: 3em;
            margin-left: -2em;
        }

        .schedule-bt {
            padding: var(--primary-spacing);
        }

        .discover-bt {
            font-size: 1.1em;
        }

        /* Dictionary */ 

        .dictionary {
        }

        .quote {
            margin-top: 2em;
            font-size: 2.5em;
        }

        .ai-paragraph {
            font-size: 1.5em;
            padding-top: 2em;
            padding-left: 7.5em;
        }
    }

/* #endregion */
