:root {
    /* Huisstijl kleuren */ 
    --main-bg-color: #FFFFFF; 
    --secondary-bg-color: #F6F6F4; 
    --secondary-bg-color: #3C3B34;
    --primary-text-color: #3C3B34; 
    --subtitle-text-color : #9B9A92; 
    --accent-color: #FF6B6B;

    --primary-spacing: 1em; 
    --secondary-spacing: 2em;

    /* Font */ 
    --light-text : 'Aktiv-Lt', sans serif; 
    --medium-text: 'Aktiv-Rg', sans serif;
    --medium-text: 'Aktiv-Md', sans serif;
    --bold-text: 'Aktiv-Bd', sans serif;
}
/* Load in Fonts */ 
@font-face {
    font-family: 'Aktiv-Lt';
    src: url(../assets/Font/AktivGrotesk_Lt.ttf);
}
@font-face {
    font-family: 'Aktiv-Rg';
    src: url(../assets/Font/AktivGrotesk_Rg.ttf);
}
@font-face {
    font-family: 'Aktiv-Md';
    src: url(../assets/Font/AktivGrotesk_Md.ttf);
}
@font-face {
    font-family: 'Aktiv-Bd';
    src: url(../assets/Font/AktivGrotesk_Bd.ttf);
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-bg-color);
    color: var(--primary-text-color)
}

a{
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Mobile and smaller screens */
@media (min-width: 20em) {

    body {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    
    /* Header styling */

    header{
        display: flex;
        margin: 0.5em;
        justify-content: space-between;
    }

    .logo {
        height: 1.5em;
    }
    .contact-bt{
        font-family: var(--medium-text);
        position: absolute;
        right: 0;
        margin-right: 6em;
        outline-style: solid;
        outline-offset: 0.2em;
    }
    
    /* Header styling end */

    /* Main section styling */

    main {
        margin: var(--secondary-spacing) var(--primary-spacing) 3em var(--secondary-spacing);
    }
    h1 {
        font-family: var(--light-text);
        color: var(--subtitle-text-color);
        font-size: 1em;
        margin-top: 1em;
    }
    h2 {
        font-family: var(--bold-text);
        font-size: 2.5em;
        margin-top: 0.75em;
    }
    .abstract {
        font-family: var(--light-text);
        font-size: 1.25em;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .schedule-bt {
        font-family: var(--medium-text);
        background-color: var(--accent-color);
        color: #FFFFFF;
        padding: 0.75em;
        border-radius: 0.25em;
        margin-top: var(--primary-spacing);
        margin-bottom: 1em;
    }
    .discover-bt {
        font-family: var(--medium-text);
        color: var(--accent-color);
        margin-top: 3em;
    }
    /* Main styling end */

    /* Dictionary Section Styling */
    .dictionary {
        background-color: var(--primary-text-color);
        width: 100%;
        margin: var(--secondary-spacing);
    }
    h3{
        font-family: var(--bold-text);
        color: #FFFFFF;
        font-size: 2em;
    }    
    strong{
        color: #9B9A92;
    }
    .ai-paragraph {
        font-family: var(--light-text);
        color: #FFFFFF;
    }
    /* Dictionary styling end */

    /* Steps section styling */
    .steps {
        margin: var(--secondary-spacing);
    }
    h4{
        font-family: var(--bold-text);
        font-size: 2em;
        margin-bottom: 1em;
    }
    .card1 {
        margin-top: var(--primary-spacing);
        border-radius: 0.5em;
        margin: 1em;
        padding: 1em;
        
        outline-style: solid;
        outline-color: #DADAD5;
        outline-offset: 0.5em;
    }
    .card-img {
        height: 13em;
    }
    h5 {
        font-family: var(--bold-text);
        font-size: 1.5em;
    }
    .subtitle {
        font-family: var(--light-text);
        font-size: 1.2em;
        color: var(--subtitle-text-color);
        margin : 0.2em 0em 0.2em 0em;
    }
    .card-text {
        margin: 0;
    }
    /* Steps styling end */ 

    /* Cases section styling */

    .cases {
        display: grid;
        background-color: var(--primary-text-color);
    }
    /* Cases styling end
}
